unpacked/
MM_script_database/
testfiles/
__pycache__/
difficulty_scraper/webpages/
difficulty_scraper/in.html
difficulty_scraper/out.txt
Diva2Script.cpk_unpacked/
2nd and extend chart pack*/
F2nd_scripts/
*.stackdump
*.dsc
*.toml
*.cpk
2nd and extend chart pack - No Chance Time and No Overlapping Songs.zip
2nd and extend chart pack - No Chance Time.zip
